[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-contrib-python = "==4.5.2.54"
ibm-watson = "==5.2.2"
ibm-cloud-sdk-core = "==3.10.1"
Flask = "==2.0.1"
Flask-Cors = "==3.0.10"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
